@import "./resets";
@import "./variables";

body {
    margin: 0;
    padding: 0;
}

#secret {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darker(.4);
    z-index: 1;
}

#background-video {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;

    box-shadow: 0 0 15px 15px red;
    animation: videoShadow 1.5s alternate infinite;
}

@keyframes videoShadow {
    0% {
        box-shadow: 0 0 15px 15px red;
    }

    50% {
        box-shadow: 0 0 15px 15px green;
    }

    100% {
        box-shadow: 0 0 15px 15px blue;
    }
}